<header>
  <div class ="container">
    <div class="row">
      <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
        <ul>
        
          <li>
            <img class="p-cursor"src="assets/images/search.png" alt="The icon for search"  width="20"/>

          </li>
        </ul>
        <ul>
          <li>
              <a [routerLink]="['/home']" [routerLinkActive]="['is-active']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/abouts']" [routerLinkActive]="['is-active']">About</a>
          </li>
        <li>
          <a  [routerLink]="['/project']" [routerLinkActive]="['is-active']">Work</a>
         </li>
       <li>
        <a  [routerLink]="['/contact']" [routerLinkActive]="['is-active']">Reach</a>
      </li>

        </ul>
      </div>
    </div>
  </div>
  </header>


